<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/main.css">
        <meta charset="utf-8">
        <title>new destination</title>
    </head>
    <body>
        <div class="container">
        <h1>desirable travel destination</h1>
        <div class='card'>
        <form action="/trips" method="POST">
            Name: <input type="text" name="name" /><br/>
            description: <input type="text" name="description" /><br/>
            price: <input type="number" name="price" /><br/>
            <input type="submit" name="" value="request trip"/>
        </form>
    </div>
</div>
    </body>
</html>