<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/main.css">
        <meta charset="utf-8">
        <title>Show</title>
    </head>
    <body>
           
                    <a href="/desteny/trips">Back to Trips list</a>
                
                <header>
        <h1>Trip details</h1>
    </header>
        <div class='container'> 
                    <div class='card'>
                        <h2> <%=trip.name; %></h2> </br>
                         <p> <%=trip.description; %> </p></br>
                         <img src="<%=trip.img;%>"> </br>
                         <h2> $ <%=trip.price; %> </h2> </br>
                    </div>
                </div>
    </body>
</html>