.container {
    display: flex;
      justify-content: center; 
   border: gray solid 1px;
   flex-wrap: wrap;
   }
   .card {
       background-color:beige;
      display: flex;
       
      flex-direction: column;
      border: solid white 3px;
      padding: 1em;
      align-items: center;
      
      /* width: 25%; */
   }
   h1 {
       color: gray
   }
   h2 {
       color: brown 
   }
   header {
       text-align: center;
       background-color: ivory;
       height: 50px;
       border: solid gray 1 px;
   }
   a {
       text-decoration: none;
       color: gray
   }
  
.img {
    background: url('https://www.beyondpesticides.org/assets/media/images/wildlife/images/chincoteaguebirds_000.jpg') no-repeat center center ;
    /* background-repeat: ; */
    background-size: cover;
    
   }
   .img > h2 {
       
       padding-top: 260px;
   }
   h2 > a {
       color: gainsboro;
       background-color: black;
   }
   footer {
    border: solid gray 1 px;
    background-color: beige;
    text-align: center;
   }
