.container {
    display: flex;
    background-color: darkseagreen;
      justify-content: space-evenly; 
   /* border: gray solid 1px; */
   flex-wrap: wrap;
   }
   .card {
       background-color:beige;
      display: flex;
      flex-direction: column;
      border: solid white 3px;
      
      align-items: center;
justify-content: space-evenly;
      /* width: 75%; */
   }
   p {
       width: 450px;
       padding: 1em;
       
   }
   h1 { padding: .2em;
       color: white;
   }
   h2 {
       color: rgb(111, 9, 43); 
   }
   header {
       text-align: center;
       background-color: rgb(240, 192, 208);
       height: 60px;
       border: solid gray 1 px;
   }
   a {
       text-decoration: none;
       color: gray
   }
  
.img {
    background: url('https://thegreatsavana.weebly.com/uploads/4/5/9/2/45929955/7473188_orig.jpg no-repeat center center');
   
    background-size: cover;
    
   }
   .img > h2 {
       
       padding-top: 260px;
   }
   h2 > a {
       color: rgb(254, 254, 254);
       background-color: black;
   }
   footer {
    border: solid gray 1 px;
    background-color: beige;
    text-align: center;
   }

   /* bootstrap properties*/
   .parent {
    width: 60%;
    background-color: darkseagreen;
    border: 5px solid #E18728;
    /* float: left; */
  }
  
  .child {
    width: 90%;
    padding: 20%;
    border: 4px solid black;
    margin: .5em auto;
  }
