
<!DOCTYPE html>
<html lang="en">
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/main.css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
        <title>new destination</title>
    </head>
    <body>
        <div class="container">
           
                
                <h1> <a href="/desteny/trips">TRAVEL YOUR DREAMS</a></h1>
           
            
            <nav> 
     <h2><a href="/desteny/trips">suggested travel destination</a> </h2>
    </nav> 
     <footer><a href="#">contacts</a></footer>
     </div>
    </body>
</html>



