
<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/main.css">
        <meta charset="utf-8">
        <title>new destination</title>
    </head>
    <body>
        <header>
        <h1>WELCOME TO YOUR DREAMS</h1>
    </header>
    <div class='container'>
        <div class='card img'>  
    
       <h2><a href="/desteny/trips">suggested travel destination</a></h2> 
 
    </div> 
    </div>
    <footer><a href="#">contacts</a></footer>
    </body>
</html>



